In [2]:
import pandas as pd

In [33]:
df = pd.read_excel('C:\\Users\\dchat\\OneDrive\\Desktop\\DICE\\covid\\cowin_vaccine_data_districtwise.xlsx')

df

,S No,State_Code,State,District_Key,Cowin Key,District,2021-01-16 00:00:00,2021-01-17 00:00:00,2021-01-18 00:00:00,2021-01-19 00:00:00,...,2021-05-22 00:00:00.1,2021-05-22 00:00:00.2,2021-05-22 00:00:00.3,2021-05-22 00:00:00.4,2021-05-22 00:00:00.5,2021-05-22 00:00:00.6,2021-05-22 00:00:00.7,2021-05-22 00:00:00.8,2021-05-22 00:00:00.9,Total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,NaN
1,727.0,WB,West Bengal,WB_Alipurduar,Alipurduar District,Alipurduar,45.0,45.0,82.0,286.0,...,4673,22,160853,64849,87817,73008,28,41216,184486,41103593.0
2,728.0,WB,West Bengal,WB_Bankura,Bankura,Bankura,64.0,84.0,132.0,254.0,...,11700,44,226206,118090,127942,98249,15,56384,287912,63856187.0
3,729.0,WB,West Bengal,WB_North 24 Parganas,Basirhat HD (North 24 Parganas),North 24 Parganas,13.0,13.0,94.0,347.0,...,7970,39,239470,96455,124061,115386,23,45370,290555,58353225.0
4,730.0,WB,West Bengal,WB_Birbhum,Birbhum,Birbhum,6.0,7.0,65.0,247.0,...,10550,86,223011,84256,119265,103720,26,36767,270500,57164522.0
5,731.0,WB,West Bengal,WB_Bankura,Bishnupur HD (Bankura),Bankura,0.0,0.0,163.0,195.0,...,9650,30,81231,43813,47207,34020,4,14204,110840,20546886.0
6,732.0,WB,West Bengal,WB_Cooch Behar,COOCHBEHAR,Cooch Behar,174.0,174.0,307.0,565.0,...,3891,21,231184,85500,127955,103208,21,33021,283663,60321047.0
7,734.0,WB,West Bengal,WB_Dakshin Dinajpur,Dakshin Dinajpur,Dakshin Dinajpur,110.0,110.0,328.0,573.0,...,1525,9,178162,79119,92209,85925,28,41052,216229,47856679.0
8,735.0,WB,West Bengal,WB_Darjeeling,Darjeeling,Darjeeling,59.0,59.0,230.0,449.0,...,5033,29,260539,111591,134647,125867,25,62522,309608,65306281.0
9,736.0,WB,West Bengal,WB_South 24 Parganas,Diamond Harbor HD (S 24 Parganas),South 24 Parganas,50.0,50.0,141.0,249.0,...,11316,73,294618,137174,154112,140476,30,35826,395966,76285404.0
10,737.0,WB,West Bengal,WB_Purba Bardhaman,East Bardhaman,Purba Bardhaman,3.0,6.0,39.0,152.0,...,4481,23,471745,180832,254901,216810,34,48585,603992,120058806.0
11,738.0,WB,West Bengal,WB_Hooghly,Hoogly,Hooghly,14.0,14.0,263.0,698.0,...,14726,75,633690,277277,333090,300552,48,79500,831467,158580720.0
12,739.0,WB,West Bengal,WB_Howrah,Howrah,Howrah,6.0,6.0,78.0,489.0,...,13490,77,469760,199267,252729,216981,50,52454,616573,117617077.0
13,740.0,WB,West Bengal,WB_Jalpaiguri,Jalpaiguri,Jalpaiguri,0.0,0.0,134.0,168.0,...,7050,27,162715,64045,93144,69549,22,34867,191893,39449146.0
14,741.0,WB,West Bengal,WB_Jhargram,Jhargram,Jhargram,167.0,167.0,136.0,468.0,...,6522,49,67312,38886,43435,23873,4,18950,87248,20606751.0
15,742.0,WB,West Bengal,WB_Kalimpong,Kalimpong,Kalimpong,2.0,2.0,28.0,107.0,...,1625,9,54390,28648,27369,27014,7,10834,72204,14073629.0
16,743.0,WB,West Bengal,WB_Kolkata,Kolkata,Kolkata,160.0,160.0,395.0,1237.0,...,115610,290,1224738,490148,691936,532609,193,242785,1472101,275232643.0
17,744.0,WB,West Bengal,WB_Malda,Malda,Malda,34.0,34.0,84.0,489.0,...,14280,65,311275,105506,169772,141434,69,81166,335615,74104941.0
18,745.0,WB,West Bengal,WB_Murshidabad,Murshidabad,Murshidabad,398.0,398.0,551.0,1441.0,...,6825,31,498294,200798,253768,244479,47,88122,610970,133943608.0
19,746.0,WB,West Bengal,WB_Nadia,Nadia,Nadia,250.0,252.0,455.0,853.0,...,3881,23,414739,158406,224211,190485,43,45719,527426,106863587.0
20,747.0,WB,West Bengal,WB_Purba Medinipur,Nandigram HD (East Medinipore),Purba Medinipur,43.0,43.0,78.0,241.0,...,9500,39,260948,89207,137217,123702,29,36111,314044,63772356.0
21,748.0,WB,West Bengal,WB_North 24 Parganas,North 24 Parganas,North 24 Parganas,60.0,60.0,261.0,607.0,...,36636,138,809200,306548,447826,361272,102,137325,978423,189032935.0
22,749.0,WB,West Bengal,WB_Paschim Medinipur,Paschim Medinipore,Paschim Medinipur,120.0,120.0,176.0,562.0,...,4904,41,396979,170323,223536,173412,31,65846,501456,103099067.0
23,750.0,WB,West Bengal,WB_Purba Medinipur,Purba Medinipore,Purba Medinipur,32.0,32.0,38.0,85.0,...,945,7,349309,176769,186072,163205,32,43868,482210,94547213.0
24,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,31.0,173.0,320.0,340.0,...,16102,61,218355,90174,126647,91686,22,54922,253607,59092859.0
25,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,1.0,1.0,76.0,174.0,...,8379,54,146084,46304,76441,69623,20,18220,174168,35898155.0
26,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,14.0,14.0,163.0,477.0,...,6281,35,468859,202788,239486,229297,76,36695,634952,123662245.0
27,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,NaN,0.0,101.0,287.0,...,3700,15,184380,75965,101575,82783,22,33055,227290,47974431.0
28,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,62.0,62.0,142.0,324.0,...,6970,41,235958,92240,140562,95365,31,26304,301894,61647614.0

In [18]:
df1 = df.loc[0].str.contains('First Dose')==True

In [23]:
df1.to_excel("a.xlsx")

In [26]:
df.columns[df.contains("First Dose").any()]

AttributeError: 'DataFrame' object has no attribute 'contains'

In [28]:
df=df[df.columns[df.str.startswith('First Dose Administered')]]

AttributeError: 'DataFrame' object has no attribute 'str'

In [29]:
df=df.filter(like='First Dose')

In [34]:
df1=df[df.filter(like='First Dose')]

In [35]:
df1

,S No,State_Code,State,District_Key,Cowin Key,District,2021-01-16 00:00:00,2021-01-17 00:00:00,2021-01-18 00:00:00,2021-01-19 00:00:00,...,2021-05-22 00:00:00.1,2021-05-22 00:00:00.2,2021-05-22 00:00:00.3,2021-05-22 00:00:00.4,2021-05-22 00:00:00.5,2021-05-22 00:00:00.6,2021-05-22 00:00:00.7,2021-05-22 00:00:00.8,2021-05-22 00:00:00.9,Total
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
sd = pd.read_excel("C:\\Users\\dchat\\OneDrive\\Desktop\\DICE\\covid\\sample.xlsx")

In [39]:
sd

,SL#,State,District,2021-01-10 00:00:00,2021-01-10 00:00:00.1,2021-01-10 00:00:00.2,2021-01-11 00:00:00,2021-01-11 00:00:00.1,2021-01-11 00:00:00.2,2021-01-12 00:00:00,2021-01-12 00:00:00.1,2021-01-12 00:00:00.2
0,NaN,NaN,NaN,SpaceX In,Star In,StarX Out,SpaceX Out,Star Out,StarX In,SpaceX Float,Star Float,StarX Fly
1,1.0,wb,al,10,11,12,13,14,15,16,17,18
2,2.0,wb,not,23,22,20,13,14,15,16,17,18

In [40]:
sd1=sd.filter(like='SpaceX')

In [41]:
sd1

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [49]:
sd=pd.read_excel('C:\\Users\\dchat\\OneDrive\\Desktop\\DICE\\covid\\sample.xlsx')

In [51]:
mask=sd.loc[0].str.startswith('SpaceX').fillna(True)

In [52]:
sd1=sd.T.loc[mask].T.drop(0)

In [53]:
sd1

,SL#,State,District,2021-01-10 00:00:00,2021-01-11 00:00:00,2021-01-12 00:00:00
1,1,wb,al,10,13,16
2,2,wb,not,23,13,16

In [66]:
sd2=pd.read_csv('C:\\Users\\dchat\\OneDrive\\Desktop\\DICE\\Projects\\data-analysis\\vaccine_first_dose_district.csv')

C:\Users\dchat\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [67]:
sd2

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021,16/01/2021.1,16/01/2021.2,16/01/2021.3,...,22/05/2021,22/05/2021.1,22/05/2021.2,22/05/2021.3,22/05/2021.4,22/05/2021.5,22/05/2021.6,22/05/2021.7,22/05/2021.8,22/05/2021.9
0,NaN,NaN,NaN,NaN,NaN,NaN,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,...,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered
1,1.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,745,0,0,0,...,8478,367,3,8478,1905,4452,4026,0,0,10383
2,2.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,1496,0,0,0,...,30985,1460,10,30985,3280,16441,14541,3,0,34265
3,3.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,6028,2,2,23,...,64142,3286,17,64142,9971,34921,29215,6,0,74113
4,4.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,20781,28,26,287,...,450737,14950,87,450737,177863,230577,220079,81,84843,543757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,751.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,18395,1,1,31,...,218355,16102,61,218355,90174,126647,91686,22,54922,253607
752,752.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,4685,0,0,1,...,146084,8379,54,146084,46304,76441,69623,20,18220,174168
753,753.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,24722,6,6,14,...,468859,6281,35,468859,202788,239486,229297,76,36695,634952
754,754.0,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,NaN,NaN,NaN,NaN,...,184380,3700,15,184380,75965,101575,82783,22,33055,227290
755,755.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,22782,2,2,62,...,235958,6970,41,235958,92240,140562,95365,31,26304,301894

In [68]:
mask=sd2.loc[0].str.startswith('First Dose Administered').fillna(True)

In [69]:
sd3=sd2.T.loc[mask].T.drop(0)

In [70]:
sd3

,S No,State_Code,State,District_Key,Cowin Key,District,16/01/2021.3,17/01/2021.3,18/01/2021.3,19/01/2021.3,...,13/05/2021.3,14/05/2021.3,15/05/2021.3,16/05/2021.3,17/05/2021.3,18/05/2021.3,19/05/2021.3,20/05/2021.3,21/05/2021.3,22/05/2021.3
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,0,0,0,1,...,8353,8353,8359,8359,8359,8359,8368,8367,8418,8478
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,0,0,0,0,...,30012,30012,30050,30050,30076,30082,30093,30369,30660,30985
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,23,23,42,88,...,61237,61325,61649,61649,62057,62332,62816,63291,63717,64142
4,4,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,287,504,778,1324,...,445071,445304,445354,445354,447569,448020,448141,448198,448549,450737
5,5,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,424,1012,925,1798,...,524912,525426,525754,525757,525676,526338,527269,527667,528962,529998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,751,WB,West Bengal,WB_Purulia,Purulia,Purulia,31,173,320,340,...,201501,201672,202197,202196,202857,205657,209200,211903,215464,218355
752,752,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,1,1,76,174,...,141754,141820,142653,142653,142690,142782,142839,142947,143007,146084
753,753,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,14,14,163,477,...,450634,450856,453459,453479,456601,458449,461104,463842,466479,468859
754,754,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,NaN,0,101,287,...,169008,169136,169277,169277,171929,175409,179445,180820,182812,184380
755,755,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,62,62,142,324,...,230016,230021,230006,230005,230505,231075,231401,231930,233110,235958

In [76]:
sd3.to_excel('C:\\Users\\dchat\\OneDrive\\Desktop\\DICE\\Projects\\data-analysis\\CovidFirstDoseAnalysis\\FirstDoseDistrict.xlsx')